@{
    ViewData["Title"] = "Profile";
    var userID = ViewData["userID"];
    var userDetails = ViewData["userDetails"] as ST10256859_CLDV6211_POE.Models.userTBL;
    var orders = ViewData["orders"] as List<ST10256859_CLDV6211_POE.Models.transactionTBL>;
}

<!DOCTYPE html>
<head>
    <title>Profile - KhumaloCraft Emporium</title>
    <style>
        .image 
        {
            border-radius: 25px;
            height: 320px;
            width: 380px;
            margin: 15px;
            border: 5px solid #FFFDD0;
        }

        .craftwork-container   
        {
            display: grid;
            place-items: center;
        }

        .craftwork-item 
        {
            border-radius: 25px;
            background-color: #1b2f48;
            height: auto;
            width: 1100px;
            padding: 15px;
            border: 5px solid #FFFDD0;
            color: #FFFDD0;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-self: center;
            margin-bottom: 20px
        }

        .craftwork-item2 
        {
            border-radius: 25px;
            background-color: #333;
            height: auto;
            width: auto;
            padding: 15px;
            border: 5px solid #FFFDD0;
            color: #FFFDD0;
            display: flex;
            flex-direction: column;
            align-content: center;
        }

        .craftwork-content 
        {
            display: flex;
            align-items: center;
        }

        .text-content 
        {
            width: auto;
            margin-left: 15px;
            overflow-wrap: break-word;
        }
    </style>
</head>

<body>
    <div>
        <div style="height:80px;"></div>
        <h1 align="center" style="color: #FFFDD0">Profile Page</h1>
        <hr style="height:3px;color:#FFFDD0;border-width:0">
        <div style="height:30px;"></div>
        <div class="craftwork-container">
            <div class="craftwork-item">
                <div style="height:10px;"></div>
                <h2 align="center" style="color: #FFFDD0">User Details</h2>
                <hr style="height:3px;color:#FFFDD0;border-width:0">
                <div style="height:10px;"></div>
                <p><b> Name:</b> @userDetails.FirstName </p>
                <p><b> Surname:</b> @userDetails.LastName </p>
                <p><b> Email:</b> @userDetails.Email </p>
            </div>
            <div style="height:50px;"></div>
            <div class="craftwork-item">
                <div style="height:10px;"></div>
                <h2 align="center" style="color: #FFFDD0">Order History</h2>
                <hr style="height:3px;color:#FFFDD0;border-width:0">
                <div style="height:10px;"></div>
                @if (orders != null && orders.Count > 0)
                {
                    foreach (var order in orders)
                    {
                        <div class="craftwork-item2">
                            <div class="craftwork-content">
                                <img class="image" src="@order.ImageUrl"></img>
                                <div class="text-content">
                                    <h2> @order.ProductName </h2>
                                    <div style="height:30px;"></div>
                                    <p> Product ID: @order.ProductID </p>
                                    <p> Price: R @order.Price </p>
                                    <p> Purchase Date: @order.Date </p>
                                </div>
                            </div>
                        </div>
                        <br></br>
                    }
                }
                else
                {
                    <div class="craftwork-content">
                        <div class="text-content">
                            <p>No Orders.</p>
                        </div>
                    </div>
                }
            </div>
            <div style="height:80px;"></div>
        </div>      
    </div>
</body>
</html>
