@model List<ST10256859_CLDV6211_POE.Models.productTBL>
@{
    ViewData["Title"] = "MyWork";
    var userID = ViewData["userID"];
}

<!DOCTYPE html>
<head>
    <title>MyWork - KhumaloCraft Emporium</title>
    <style>
        .image
        {
            border-radius: 25px;
            height: 320px;
            width: 400px;
            margin: 15px;
            border: 5px solid #FFFDD0;
        }

        .craftwork-item
        {
            border-radius: 25px;
            background-color: #1b2f48;
            height: auto;
            width: auto;
            padding: 15px;
            border: 5px solid #FFFDD0;
            color: #FFFDD0;
            display: flex;
            flex-direction: column;
            align-content: center;
        }

        .craftwork-content
        {
            display: flex;
            align-items: center;
        }

        .text-content
        {
            width: 970px;
            margin-left: 15px;
            overflow-wrap: break-word;
        }
    </style>
</head>

<body>
    <div>
        <div style="height:80px;"></div>
        <h1 align="center" style="color: #FFFDD0">KhumaloCraft's Works</h1>
        <hr style="height:3px;color:#FFFDD0;border-width:0">
        <div align="center" style="color: #FFFDD0">
            @if (userID != null)
            {
                var welcomeMessage = ViewData["WelcomeMessage"] as string;
                if (!string.IsNullOrEmpty(welcomeMessage))
                {
                    <h4>@welcomeMessage</h4>
                    <hr style="height:3px;color:#FFFDD0;border-width:0">
                }
            }
        </div>
        <div style="height:10px;"></div>
        <p align="center" style="color: #FFFDD0">
            KhumaloCraft is a distinguished
            artistry business dedicated to the art of crafting 
            exquisite creations. With a passion for 
            tradition and innovation, we meticulously handcraft 
            each piece, infusing it with timeless beauty and 
            functional elegance. From intricately designed vases 
            and dinnerware sets to unique decorative pieces, 
            every creation reflects our commitment to quality 
            craftsmanship and artistic expression. At KhumaloCraft, 
            we invite you to experience the artistry and 
            craftsmanship of our wares, designed to elevate any 
            space with its distinct charm and character. 
            Below are our beautifully exquisite pieces:
        </p>
        <br></br>
        @foreach (var product in Model)
        {
            <div class="craftwork-container">
                <div class="craftwork-item">
                    <div class="craftwork-content" >
                        <img class="image" src="@product.ImageUrl"></img>
                        <div class="text-content">
                            <h2 align="middle">@product.Name</h2>
                            <hr style="height:3px;color:#FFFDD0;border-width:0">
                            <div style="height:30px;"></div>
                            <p><b> Category:</b> @product.Category </p>
                            <p><b> Description:</b> @product.Description </p>
                            <p><b> Price:</b> R @product.Price </p>
                            <p><b> Quantity:</b> @product.Quantity </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:100px;"></div>
        }
    </div>
</body>
</html>
